@using ServicesManagement.Web.Models;
@{ ViewBag.Title = "Home Page";
                Layout = "~/Views/Shared/_Layout.cshtml";

                Order order = ViewBag.Order as Order;
                Detail detail = ViewBag.Detail as Detail;
                List<Product> products = ViewBag.Products as List<Product>; }
@{ if (order != null)
    {
<div class="row">
    <div class="col-md-12">
        <div class="ibox">
        </div>

        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-2 text-left">
                    <span>Folio Caso Cliente</span>
                    <h2 class="text-navy">
                        @ViewBag.OrderId
                    </h2>
                </div>
                <div class="col-sm-2 text-left">
                    <span>No. Orden</span>
                    <h2 class="text-navy">
                        @order.OrderNo
                    </h2>
                    <input type="hidden" id="hddOrderNo" value="@ViewBag.OrderId" />
                    <input type="hidden" id="hddUeNo" value="@ViewBag.UeNo" />
                </div>
                <div class="col-sm-4 text-left">
                    <span>Fecha de Solicitud:<h2 class="text-navy"> @order.OrderDate.ToString("dd/MMM/yyyy") @order.OrderTime</h2></span><br>
                </div>
                <div class="col-sm-4 text-left">
                    <span>Fecha de Entrega:<h2 class="text-navy"> @order.OrderDeliveryDate.ToString("dd/MMM/yyyy") @order.OrderDeliveryTime</h2></span><br>
                </div>

            </div>
        </div>
    </div>
</div>

                <div class="row">
                    <div class="col-md-9">
                        <div class="ibox" style="padding-bottom:20px;">
                            <div class="ibox-title">
                                <span class="float-right">(<strong>@products.Count()</strong>) Artículos</span>
                                <h5>Artículos Folio</h5>
                            </div>
                            @{
                                int contador = 1;
                            }
                            @foreach (Product item in products)
                            {
            <div class="ibox-content">
                <div class="table-responsive">
                    <table class="table shoping-cart-table">
                        <tbody>
                            <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                        @if (@item.ArticuloFoto != null)
                                        {
                                        <img class="image" src="@item.ArticuloFoto" width=90 height=90>
                                        }
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                        <a href="#" class="text-navy">
                                            @item.ProductName
                                        </a>
                                    </h3>
                                    <p class="small">
                                        @item.Observations
                                    </p>
                                    @*<dl class="small m-b-none">
                                            <dt>Description lists</dt>
                                            <dd>A description list is perfect for defining terms.</dd>
                                        </dl>*@
                                    <br />
                                    <div class="custom-file">
                                        <input id='@contador' type="file" class="custom-file-input" accept=".jpg,.jpeg,.png">
                                        <label for="FileUpload1" class="custom-file-label">Seleccionar Archivo...</label>
                                    </div>
                                    <div class="m-t-sm">
                                        @*<input id='@contador' otype="file" class="form-control-file">*@
                                        <button name = "btnUpload" type="button" class="btn btn-light" onclick="Upload(@contador)">Guardar Foto</button>
                                    </div>
                                    <div class="row" style="text-align:right;">
                                        <div class="col-md-9">
                                        </div>
                                        <div class="col-md-3">                                    
                                            <button name="btnUpload" type="button" class="btn btn-primary" onclick="Guia('@order.UeNo', @item.ProductId, @item.Quantity)">Descargar Guía</button>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    $@item.PosPriceOfferSale.ToString("0.00")
                                    @if (item.PosPriceNormalSale > item.PosPriceOfferSale)
                                    {
                <s class="small text-muted">$@item.PosPriceNormalSale.ToString("0.00")</s>}

                                </td>
                                <td width="65">

                                    <label class="form-control">@item.Quantity.ToString("0.00")</label>
                                </td>
                                <td>
                                    <h4>
                                        $@item.Total.ToString("0.00")
                                    </h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
                contador= contador + 1 ;
                            }


                            @*<div class="row" style="text-align:right;">
                                <div class="col-md-9">
                                </div>
                                <div class="col-md-3">
                                    <a id="linkPdf" return false;" href="#" title="Click para ver el pdf de la guia" class="btn btn-link"></a>
                                    <button name="btnUpload" type="button" class="btn btn-primary" onclick="Guia()">Descargar Guía</button>
                                </div>
                            </div>*@

                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Total de la Orden</h5>
                            </div>
                            <div class="ibox-content">
                                <span>
                                    Total
                                </span>
                                <h2 class="font-bold">
                                    $@detail.Total.ToString("0.00")
                                </h2>

                                <hr>
                                <span>
                                    Forma de pago
                                </span>
                                <h2>@detail.MethodPayment  </h2>
                                @*<p>Efectivo: $1603.7000 -- Vales:  $0.0000 </p>*@
                                @switch (@detail.MethodPaymentID.ToString())
                                {

                                    case "2":
                                    case "5":
                                    case "6":
                <p>Efectivo: $@detail.CashPay.ToString() -- Vales:  $@detail.VouchersPay.ToString() </p>break;

                                }
                            </div>
                        </div>
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5>Cliente</h5>
                            </div>
                            <div class="ibox-content text-center">

                                <h3>@detail.CustomerName</h3>
                                <address>
                                    <strong>Dirección:</strong><br>
                                    @detail.Address1 <br>
                                    @detail.Address2
                                    @detail.City,@detail.StateCode, @detail.PostalCode<br>
                                    <abbr title="Phone">T:</abbr> @detail.Phone
                                    test
                                </address>
                                <p>
                                    <span><strong>Persona autorizada a recibir la orden:</strong> @detail.NameReceive</span><br>
                                    <span><strong>Dirección de entrega:</strong>@detail.DeliveryAddress</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div> }
                            else
                            {
                <h2>Lo sentimos, no se encontro información relacionada a la orden solicitada.</h2> } }

@section scripts {
    <script type="text/javascript">
        $('.custom-file-input').on('change', function () {
            let fileName = $(this).val().split('\\').pop();
            $(this).next('.custom-file-label').addClass("selected").html(fileName);
        });

        function Upload(filename) {
                var _hddOrderNo = $("#hddOrderNo").val();

                // Checking whether FormData is available in browser
                if (window.FormData !== undefined) {

                    var servername = window.location.origin;
                    var fileUpload = $("#" + filename).get(0);
                    var files = fileUpload.files;

                    // Create FormData object
                    var fileData = new FormData();
                    var nomArch = "";

                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {
                        fileData.append(files[i].name, files[i]);
                        var nameext = files[i].name.split(".");
                        nomArch = nameext[0];
                        if (nameext[1].toLowerCase() != "png" & nameext[1].toLowerCase() != "jpg" & nameext[1].toLowerCase() != "jpeg")
                        {
                            alert("Extensión no válida");
                            return;
                        }

                    }

                    // Adding one more key to FormData object
                    fileData.append('OrdenRma', _hddOrderNo);
                    fileData.append('nomArch', nomArch);

                    $.ajax({
                        // url: '/ManualesOperativos/UploadFiles',
                        url: '@Url.Action("UploadFiles", "Home")',
                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (result) {
                            alert(result);
                        },
                        error: function (err) {
                            alert(err.statusText);
                        }
                    });
                } else {
                    alert("FormData is not supported.");
                }
        }

        function Guia(UeNo, Barcode, Quantity) {
            window.location = window.location.origin + '/Home/GenerarGuiaDevolucion?UeNo=' + UeNo + "&Product=" + Barcode
                + "&Pieces=" + Quantity;
        }

        function GuiaPDF(UeNo, Barcode, Quantity) {
            $.ajax({
                // url: '/ManualesOperativos/UploadFiles',
                url: '@Url.Action("GenerarGuiaDevolucion", "Home")',
                type: "POST",
                data: {
                    UeNo: UeNo,
                    Product: Barcode,
                    Pieces: Quantity
                },
                success: function (result) {
                    //if (result.Success) {
                    //    alert(result.Message);
                    //}
                    //else {
                    //    alert(result.Message);
                    //}
                },
                error: function (err) {
                    alert(err.statusText);
                }
            });
        }

        function Guia1() {
            //Set the File URL.
            var fileName = "pdf_ejemplo.pdf";
            var url = "~/" + fileName;

            //Create XMLHTTP Request.
            var req = new XMLHttpRequest();
            req.open("GET", url, true);
            req.responseType = "blob";
            req.onload = function () {
                //Convert the Byte Data to BLOB object.                var blob = new Blob([req.response], { type: "application/octetstream" });
                //Check the Browser type and download the File.                var isIE = false || !!document.documentMode;
                if (isIE) {
                    window.navigator.msSaveBlob(blob, fileName);
                } else {
                    var url = window.URL || window.webkitURL;
                    link = url.createObjectURL(blob);
                    var a = document.createElement("a");
                    a.setAttribute("download", fileName);
                    a.setAttribute("href", link);
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                }
            };
            req.send();
        };
    </script>
}